.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 1023px) {
  .header {
  margin-left: 24px;
  margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
  margin-left: 16px;
  margin-right: 16px;
  }
}
