.lead__title {
  max-width: calc(100% - 280px*2);
  font-family: inter, 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 56px;
  margin-bottom: 32px;
}

@media screen and (max-width: 1279px) {
  .lead__title {
    max-width: calc(100% - 148px*2);
    margin-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__title {
    max-width: calc(100% - 24px*2);
    margin-top: 48px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: calc(100% - 16px*2);
    margin-top: 48px;
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}
