.lead__title {
  margin: 0;
  font-style: normal;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 56px;
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-top: 48px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
