.lead__image {
  display: flex;
  height: 615px;
  width: calc(100% - 148px*2);
  margin-bottom: 8px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: 768px;
    height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    width: 320px;
    height: 200px;
    width: calc(100% - 2px*2);
  }
}
