.lead__subtitle {
  max-width: calc(100% - 320px*2);
  font-family: inter, 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 64px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
  max-width: calc(100% - 192px*2);
  margin-bottom: 56px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
  max-width: calc(100% - 64px*2);
  margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
  width: 288px;
  height: 40px;
  max-width: calc(100% - 16px*2);
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 20px;
  }
}
