.lead__caption {
  font-family: inter, 'Arial', 'Helvetica', sans-serif;
  max-width: 158px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 148px;
  margin-right: 974px;
  white-space: nowrap;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    margin-left: 48px;
    margin-right: 818px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
    margin-right: 586px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
    margin-right: 146px;
  }
}
