.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
