.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding-left: 16px;
  }
}
